<%= render partial: 'shared/header' %>
<%= turbo_frame_tag 'explanations_turbo_frame'%>
<p class="font-bold mb-4"><%= "You are in infinite mode, only the first method of the day is common to all" if @infinite_mode %></p>
<%= render partial: 'games/timer' %>
<%= render partial: 'games/game',
    locals: {
        rails_method: @rails_method,
        rails_method_doc: '',
        is_valid_answer: true,
        answers: [],
        game_won: false,
        gave_up: false,
        methods_list: @methods_list,
        colors: @colors,
        alphabet: @alphabet,
        infinite_mode: @infinite_mode,
        list_toggled: false,
        special_characters: @special_characters
    }
%>
<%= render partial: 'shared/footer' %>
