<div class="flex flex-col space-y-1  mb-4">
    <% 6.times do |line_number| %>
        <div id="line-<%= line_number %>" class="w-full flex justify-center gap-1 h-14 line-key-container">
            <% line = answers[line_number] || ' '*rails_method.size %>
            <% line.size.times do |i|%>
                <% color = colors[line_number][i] %>
                <div id="<%= "#{line_number}-#{i}" %>" class="tile flex justify-center items-center min-w-[18px] w-full max-w-[56px] min-h-[18px] h-full max-h-[56px] border-2 <%= "border-#{ color || 'red' }-400" %> rounded <%= "bg-#{color || '' }-400 font-semibold" %>">
                    <%= line[i] %>
                </div>
            <% end %>
        </div>
    <% end %>
</div>
