<!DOCTYPE html>
<html>
  <head>
    <title>RoRdle</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-confetti@latest/dist/js-confetti.browser.js"></script>
    <%= javascript_importmap_tags %>
  </head>

  <body class="flex flex-col justify-center items-center">
    <%= yield %>
  </body>
</html>
